# Files
*.conf
*.db
*.db-journal
*.log
*.noload
*.sqlite
*.txt
*.xml
.HA_VERSION
project.json
known_devices.yaml
google_calendars.yaml
harmony*.yaml
secrets.yaml
.google.token
creds.data
ip_bans.yaml
gactions

# Directories
icloud
deps
ssl
mysql
.archive*


# Python Caches
__pycache__
*.pyc
.idea
