# Files
*.conf
*.db
*.db-journal
*.log
*.noload
*.sqlite
*.txt
*.xml
.HA_VERSION
secrets.yaml
ip_bans.yaml

# Componet Files
harmony_*harmony.yaml
known_devices.yaml
google_calendars.yaml
.google.token

# Google Assistant files
gactions
project.json
creds.data
bin/new_pi.sh

# Directories
icloud
deps
ssl
mysql
.archive*

# Python Caches
__pycache__
*.pyc
.idea

# new pi script
new_pi.sh

# Config files
.config_entries.json
entity_registry.yaml

# HASS Cloud stuff
.cloud/
.storage/
venv
